body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.h1_biblioraphy {
    color: #333;
    text-align: center;
}

.bibliography-list {
    list-style-type: none;
    padding: 0;
}

.bibliography-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.bibliography-list .author {
    font-weight: bold;
}

.bibliography-list .title {
    font-style: italic;
}